<h3 class="nav"><a class='goBack' href="#!/">Home <i id="backarrow"class="material-icons">arrow_back</i> </a></h3>
<h1 class="bebas red-text centered">How&ensp;to&ensp;Play</h1>
<h3>
    <ul class="rules">
      <li>Choose your favorite character from the list below</li>
      <li>On the following page, make your best guess at which events your character has been involved in</li>
      <li>Grow your Marvel knowledge!</li>
    </ul>
</h3>
<h2 class="bebas red-text centered">
 Select&ensp;Your&ensp;Character
</h2>
<div  class="char-select centered">
	<div class="char-img"><a ng-click="$ctrl.setChar('1009220', 'Captain America', 'images-marvel/captain-america-select.jpg')" href="#!/quiz"><img src="images-marvel/captain-america-select.jpg"></a><span class="char-text">Captain America</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009268', 'Deadpool', 'images-marvel/deadpool-select.jpg')" href="#!/quiz"><img src="images-marvel/deadpool-select.jpg"></a><span class="char-text">Deadpool</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1010743', 'Groot', 'images-marvel/groot-select.jpg')" href="#!/quiz"><img src="images-marvel/groot-select.jpg"></a><span class="char-text">Groot</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009629', 'Storm', 'images-marvel/storm-select.jpg')" href="#!/quiz"><img src="images-marvel/storm-select.jpg"></a><span class="char-text">Storm</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1011178', 'Kronos', 'images-marvel/kronos-select.jpg')" href="#!/quiz"><img src="images-marvel/kronos-select.jpg"></a><span class="char-text">Kronos</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009718', 'Wolverine', 'images-marvel/wolverine-select.jpg')" href="#!/quiz"><img src="images-marvel/wolverine-select.jpg"></a><span class="char-text">Wolverine</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009664', 'Thor', 'images-marvel/thor-select.jpg')" href="#!/quiz"><img src="images-marvel/thor-select.jpg"></a><span class="char-text">Thor</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009281', 'Doctor Doom', 'images-marvel/dr-doom-select.jpg')" href="#!/quiz"><img src="images-marvel/dr-doom-select.jpg"></a><span class="char-text">Doctor Doom</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009592', 'Silver Surfer', 'images-marvel/silversurfer-select.jpg')" href="#!/quiz"><img src="images-marvel/silversurfer-select.jpg"></a><span class="char-text">Silver Surfer</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009508', 'Kitty Pryde', 'images-marvel/kitty-pryde-select.jpg')" href="#!/quiz"><img src="images-marvel/kitty-pryde-select.jpg"></a><span class="char-text">Kitty Pryde</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009303', 'Fin Fang Foom', 'images-marvel/fin-fang-foom-select.jpg')" href="#!/quiz"><img src="images-marvel/fin-fang-foom-select.jpg"></a><span class="char-text">Fin Fang Foom</span></div>
	<div class="char-img"><a ng-click="$ctrl.setChar('1009610', 'Spider-Man', 'images-marvel/spider-man-select.jpg')" href="#!/quiz"><img src="images-marvel/spider-man-select.jpg"></a><span class="char-text">Spider-Man</span></div>
</div>