<h3><a class='goBack' href="#!/">Home <i id="backarrow"class="material-icons">arrow_back</i> </a></h3>

<h2>
 Select Your Character
</h2>

<div><span><a ng-click="$ctrl.setChar('1009220', 'Captain America')" href="#!/quiz">Captain America</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009268', 'Deadpool')" href="#!/quiz">Deadpool</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1010743', 'Groot')" href="#!/quiz">Groot</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009629', 'Storm')" href="#!/quiz">Storm</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1011178', 'Kronos')" href="#!/quiz">Kronos</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009718', 'Wolverine')" href="#!/quiz">Wolverine</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009664', 'Thor')" href="#!/quiz">Thor</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009281', 'Doctor Doom')" href="#!/quiz">Doctor Doom</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009592', 'Silver Surfer')" href="#!/quiz">Silver Surfer</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009508', 'Kitty Pryde')" href="#!/quiz">Kitty Pryde</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009303', 'Fin Fang Foom')" href="#!/quiz">Fin Fang Foom</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009610', 'Spider-Man')" href="#!/quiz">Spider-Man</a></span></div>