<h3><a class='goBack' href="#!/">Home <i id="backarrow"class="material-icons">arrow_back</i> </a></h3>
<h3>
    <ul>
      <li>Choose your favorite character from the list below</li>
      <li>On the following page, make your best guess at which events your character has been involved in</li>
      <li>Grow your Marvel knowledge!</li>
    </ul>
  </h3>
<h2>
 Select Your Character
</h2>

<div><span><a ng-click="$ctrl.setChar('1009220', 'Captain America', 'images-marvel/captain-america-select.jpg')" href="#!/quiz"><img src="images-marvel/captain-america-select.jpg">Captain America</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009268', 'Deadpool', 'images-marvel/deadpool-select.jpg')" href="#!/quiz"><img src="images-marvel/deadpool-select.jpg">Deadpool</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1010743', 'Groot', 'images-marvel/groot-select.jpg')" href="#!/quiz"><img src="images-marvel/groot-select.jpg">Groot</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009629', 'Storm', 'images-marvel/storm-select.jpg')" href="#!/quiz"><img src="images-marvel/storm-select.jpg">Storm</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1011178', 'Kronos', 'images-marvel/kronos-select.jpg')" href="#!/quiz"><img src="images-marvel/kronos-select.jpg">Kronos</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009718', 'Wolverine', 'images-marvel/wolverine-select.jpg')" href="#!/quiz"><img src="images-marvel/wolverine-select.jpg">Wolverine</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009664', 'Thor', 'thor')" href="#!/quiz"><img src="images-marvel/thor-select.jpg">Thor</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009281', 'Doctor Doom', 'images-marvel/dr-doom-select.jpg')" href="#!/quiz"><img src="images-marvel/dr-doom-select.jpg">Doctor Doom</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009592', 'Silver Surfer', 'images-marvel/silversurfer-select.jpg')" href="#!/quiz"><img src="images-marvel/silversurfer-select.jpg">Silver Surfer</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009508', 'Kitty Pryde', 'images-marvel/kitty-pryde-select.jpg')" href="#!/quiz"><img src="images-marvel/kitty-pryde-select.jpg">Kitty Pryde</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009303', 'Fin Fang Foom', 'images-marvel/fin-fang-foom-select.jpg')" href="#!/quiz"><img src="images-marvel/fin-fang-foom-select.jpg">Fin Fang Foom</a></span></div>
<div><span><a ng-click="$ctrl.setChar('1009610', 'Spider-Man', 'images-marvel/spider-man-select.jpg')" href="#!/quiz"><img src="images-marvel/spider-man-select.jpg">Spider-Man</a></span></div>